/* Working in progress... */

#CarrelloMain{
    padding-top: 2%;
    padding-bottom: 2%;
    table{
        border-radius: 15px; 
        border: white solid 4px;
        text-align: center;
    }

    th{ 
        width: 10%;
        background-color: rgb(43, 43, 73);
        border-radius: 15px;
    }

    td{ 
        border-radius:  15px;
        background-color: #434343 ;
        padding: 10px;
    }
}

#removebutton{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
    padding: 10px;
}

#messageEmpty{

        text-decoration: none;
    color: rgb(0, 208, 255);
}
#formCarrello{
    display: flex;
}

#pagaButton,#svuotaButton{
    font-family: "font pixeloso",monospace;
    background-color: rgba(63, 56, 56, 0.911);
    flex-direction: row;
 
    color: white;
    padding: 20px;
    border: rgb(124, 124, 124) solid;
    margin-top: 1%; margin-right: 3%;
 
 

    border-radius: 20px;
}