@font-face {
    font-family: "font pixeloso";
    src: url('PixelatedElegance.ttf');
}

body{

    /*border: solid rgb(168, 182, 41);*/
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    background-repeat: no-repeat;
    background-size: auto;
    font-family: "font pixeloso",monospace;
    background-position: center;
    min-height: 100vh;
    color:white;

    
}
header{
    /*border: solid red;*/
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#container{
    /*border: solid red;*/
    margin: 20px;
    padding: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h2{
        font-size: 22px;
        color: white;
    }
}

#logo{
    /*border: solid blue;*/
    width: 400px;
    height: 100px;
    background-image: linear-gradient(to top, #76d5f0 0%, rgb(82, 113, 255) 100%);
    border-radius: 60%;
    margin: auto;

}

#logoimg {
    /*border: purple solid;*/
    width: 80%;
    height: 80%;
    margin: 2%;
    margin-left: 7%;
}

#navigation{
    /*border: solid orange;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top, #76d5f0 0%, rgb(82, 113, 255) 80%);
    box-shadow: 5px 5px 10px #000000;
    width: 90%;
    text-align: center;
    white-space: nowrap;
    height: 40px;
    padding: 10px;
    
    border-radius: 80px;
   
}

.dropMenu ul{
    /*border: solid yellow;*/
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0.5%;
    width: 50%;

    
}

.dropMenu ul li{

    display: inline;
    margin: 20px;
    font-size: 20px;
    padding: 1%;

}
.botMenu{
    display: none;
}
.dropMenu ul li:hover{
    background-color: rgba(63, 56, 56, 0.911);
    box-shadow: 2px 2px 5px #000000;
    border-radius: 80px;
}
.dropMenu ul li a{
    text-decoration: none;
    color: white;
}

#searchBar{
    width: 450px;
    display: inline-block;
    position: relative;
   /* border: solid pink;*/
    padding: 5px;
}

#searchBar input[type="text"]{
   /* border: solid blueviolet;*/
    width: 80%;
    padding: 5px;
    border: none;
    border-radius: 20px;
}

#searchBar input[type="submit"]{
    background-color: rgba(63, 56, 56, 0.911);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
}


#livesearch {
    position: absolute;
    top: 100%;        
    left: 10%;

    width: 350px;
    background: #222;
    border-radius: 15px;
    z-index: 1;

    display: flex;
    flex-direction: column;
}

.risultato {
    position: relative; 
}


.risultato a {
    display: block; 
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}


.risultato a:hover {
    background: #333;
    border-radius: 15px;
}




#footer{
    /*border: pink solid;*/
    width: 50%;
    float: right;
    margin-right: 1%;
    margin-bottom: 10px;


    color: white;
    }

#footer ul{
    list-style-type: none;
    float: right;

    padding: 0;
    margin: 0;
}

#footer ul li{
    display: inline;
    margin: 4px;
    font-size: 12px;
    border-right: solid rgb(46, 42, 42) 2px;
}
#footer ul li a{
    text-decoration: none;
    color: rgb(0, 208, 255);
}

@media (max-width: 1620px){



    

    .botMenu{
        border: none;
        border-radius: 15px;
        
        display: block;
        flex-direction: row;
        background-color:  rgba(255, 255, 255, 0);
    }
    .botMenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .dropMenu {
        position: relative;

    
        cursor: pointer;
    }


    .dropMenu .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #222;
        border-radius: 15px;
        width: 200px;

    
    }


    .dropMenu .submenu li {
        padding: 4px;
        white-space: normal;
        color: white;
        font-size: 15px;
        text-align: center;
        overflow-wrap:anywhere;
        
        
    }


    .dropMenu:hover .submenu {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    #searchBar{

    width: 350px;
    }

}