/* CSS della pagina dei contatti con gli admin del sito mantiene lo stile dei pulsanti di servizio delle altre pagine */




#formTicket textarea{
    padding: 40px;
    border: none;
    border-radius: 20px;
}

#formTicket input[type="submit"]{
    background-color: rgba(10, 8, 8, 0.911);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-left: 20%;
}

