@font-face {
    font-family: "font pixeloso";
    src: url('PixelatedElegance.ttf');
}



#formTicket textarea{
    width: 1000px;
    height: 20%;

  
    padding: 10px;
    border: none;
    border-radius: 20px;
   
}

#formTicket input[type="submit"]{
    background-color: rgba(63, 56, 56, 0.911);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;

}



@media (max-width: 1620px){


}