/* Stile della Gamepage*/

/* Stile della presentazione delle informazioni sul gioco. Abbiamo diviso, immagine, informazioni(statGioco), riferimenti ad altri giochi e spec in sezioni apposite
specificate da singoli ID*/
#presentazioneGioco{
   /* border: red solid ;*/
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#immagineGioco img{
    width: 400px;
    height: 600px;
    /*border: blue solid ;*/
    border-radius: 20px;
    
}
/*Stat gioco definisce la seconda colonna di presentazione gioco. Le div sono in colonna e 
lo stile dei riferimenti ad altri giochi è specificato tarmite un tag apposito*/
#statGioco{
    /* border: yellow solid; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 4%;
    table{
        /*border:orange solid; */
        border-radius:15px;
        padding: 20px;
        font-size: 14px; 
        background: linear-gradient(90deg,rgb(1, 9, 36) 0%, rgb(30, 47, 104) 50%, rgb(8, 83, 164) 100%);
        td{ 
            padding-left:10px;
        }
    }
}

#consigliati{
    margin-top: 10px;
    padding: 20px;
    /*border: brown solid;*/
    h3{ padding:10px; }
    li a{text-decoration: none; color:white;padding: 5px;
    }   
   
    background: linear-gradient(90deg,rgb(1, 9, 36) 0%, rgb(30, 47, 104) 50%, rgb(8, 83, 164) 100%);
    border-radius: 10px;

}

/* Stile specifiche tecniche del gioco */
#specGioco{

background: linear-gradient(90deg,rgb(1, 9, 36) 0%, rgb(30, 47, 104) 50%, rgb(8, 83, 164) 100%);
border-radius: 10%;
max-width: 600px;


    padding: 30px;
    /*border: olive solid;*/
    th{
        text-align: left;
        padding-right: 10px;
    }
    tr{
        padding:10px;
    }
    td{
        padding:7px;
    }
}

/* Stile descrizione e acquisto gioco, contiene al suo interno i due riquadri e ne setta il display*/
#descAndBuy{
    margin-top: 1%;
    display: flex;
    flex-direction: row;

}


/*Stile descrizione gioco*/
#descGioco{
    /* border: teal solid; */
    margin-left: 8%;
    padding:30px;
    width: 80%;
    background: linear-gradient(90deg,rgb(1, 9, 36) 0%, rgb(30, 47, 104) 50%, rgb(8, 83, 164) 100%);
    border-radius: 10px;

    p{
        line-height: 30px;
    }
     
}

/*Stile acquisto gioco*/
#Acquisto{
    border:white solid;
    padding: 4%;
    border-radius: 15px;
    /* margin-left: 10%; */
    height: 200x;
  
    
    
}


#buttonAcquista{
    background-color: rgba(63, 56, 56, 0.911);
    color: white;
    padding: 40px;
    border: none;
    margin-left: 4%;
    padding-left: 40%;
    padding-right: 40%;
    border-radius: 20px;
}


/* Stile dell'are social, avremo sempre 2 riquadri in flex. Utile poiche possiamo passare poi in colum nella media query */
#social{

    width: 100%;
   /* border: rgb(0, 4, 128) solid;*/
    display: flex;
    gap: 10%;
    flex-direction: row;
    justify-content: center;
    padding-top: 2%;
    margin-bottom: 20px;

    a{
    text-decoration: none;
    color: rgb(0, 208, 255);
}
}

/* Stile Commenti */
#commenti{
    

    border: pink solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding-top: 2%;
    
    
    border-radius: 15px;
    background-color: rgb(53, 49, 49);  
    box-shadow: 2px 10px 10px black;
    
    textarea{
        width: 96%;
        background-color: beige;
        border-radius: 10px;
        padding: 10px;
    
    }

    input[type="submit"]{
        background-color: rgba(88, 83, 83, 0.322);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 20px;
        width: 100%;
        margin-top: 1%;
    }
  
}
.commentoUtente{
    padding-left: 3%;
    margin-bottom: 3%;
    /*border: lime solid;*/
    width: 70%;
    height: auto;
    border-radius: 5%;
    background-color: rgb(80, 75, 75, 0.35);
}


.likeDislike{

    
    display: flex;
    flex-direction: row;
}

.like{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
 p{
        padding-right: 10px;
    }
    padding-top: 10px;
    border: none;
}
.dislike{
    p{
        padding-right: 10px;
    }
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    
    padding-top: 10px;
    border: none;
}
[id^="likeButtonC"]{
    border: none;
padding-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 70%;
    background-color: rgba(255, 255, 255, 0.1);
 
}

[id^="dislikeButtonC"]{
    border: none;
    padding-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 70%;
    background-color: rgba(255, 255, 255, 0.1);
}

[id^="likeButtonC"]:hover{
    
    background-color: rgba(255, 255, 255, 0.25);
 
}

[id^="dislikeButtonC"]:hover{
   
    background-color: rgba(255, 255, 255, 0.25);
}

.buttonSegnalazioni{
   
    
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-left: 58%;
    margin-top: 5px;
    height: 40px;
    width: 40px;

    button{
        border: 3px solid rgba(255, 255, 255, 0.26);
        height: 100%;
        width: 100%;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0);
        color: rgba(237, 192, 12);
        font-size: 30px;
    }

    button:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }
}

/* Stile Recensioni */
#recensioni{
    border: cyan solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-top: 2%;
   
    
    border-radius: 15px;
    background-color: rgb(53, 49, 49);  
    box-shadow: 2px 10px 10px black;
    
    
    float: right; 

    textarea{
        width: 96%;
        padding: 10px;
        background-color: beige;
        border-radius: 10px;
    }

    input[type="submit"]{
    background-color: rgba(88, 83, 83, 0.322);
    color: white;
    margin-top: 3%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 100%;
    
    }
}
#formRecensioni input[type="number"] {
    background-color: beige;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 6px 10px;
    width: 25%;

    
}

#votoUtente{
    border: orange solid;
    background-color: bisque;
}

    

.recensioneUtente{
    margin-bottom: 3%;
    padding: 2% 4% 7%;
;   /*border: pink solid;*/
    width: 70%;
    height: auto;
    border-radius: 5%;
    background-color: rgb(80, 75, 75, 0.35);

}

[id^="likeButtonR"]{
    border: none;

    width: 40px;
    height: 40px;
    border-radius: 70%;
    background-color: rgba(255, 255, 255, 0.1);
 
}

[id^="dislikeButtonR"]{
    border: none;

    width: 40px;
    height: 40px;
    border-radius: 70%;
    background-color: rgba(255, 255, 255, 0.1);
}

[id^="likeButtonR"]:hover{
    
    background-color: rgba(255, 255, 255, 0.25);
 
}

[id^="dislikeButtonR"]:hover{
   
    background-color: rgba(255, 255, 255, 0.25);
}

/* Sezione Media Query */

@media (max-width: 1620px){

    img#logoimg{
        width: 60%;
        height: 70%;
        padding-left: 12%;
    }

    #immagineGioco img{
    width: 90%;
    height: auto;
    margin: 10%;
    
}

    #specGioco{
        display: none;
    }
    
    #descGioco{
        margin-left: 5%;
    }
    #social{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        column-gap: 5%;
    }
    #commenti{
            p{
        padding-left: 10%;
    }

        margin-bottom: 5%;
        width: 80%;
        textarea{
            margin-left: 8%;
            width: 80%;
        } 
        input[type="submit"]{
            margin-left: 10%;
            width: 80%;
        }
    }
    #recensioni{
            p{
        padding-left: 10%;
    }

        width: 80%;    
        textarea{
            margin-left: 8%;
            width: 80%;
        }
        
        input[type="submit"]{
            margin-left: 10%;
            width: 80%;
        }
        input[type="number"] {
            margin-left: 8%;
            width: 25%; 
        }
    }
    #Acquisto{  margin-top: 2%;
    }

    #buttonAcquista{
    margin-left: 0;
    }

 }

@media (max-width: 1000px){

    
    #descAndBuy{
        flex-direction: column;
    }
}

