@font-face {
    font-family: "font pixeloso";
    src: url('PixelatedElegance.ttf');
}

body{

   /* border: solid rgb(168, 182, 41);*/
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    background-repeat: no-repeat;
    background-size: auto;
    font-family: "font pixeloso",monospace;
    background-position: center;
    min-height: 100vh;
    color:white;
    padding: 2% ;
    
}
#header{
   /*border: solid red;*/
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#logo{
    /*border: solid blue;*/
    width: 400px;
    height: 100px;
    background-image: linear-gradient(to top, #76d5f0 0%, rgb(82, 113, 255) 100%);
    margin:auto;
    margin-top: 20px;
    border-radius: 60%;
    
}

#logoimg {
    width: 80%;
    height: 80%;
    margin: 2%;
    margin-left: 7%;
}

#navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
/* border: solid orange;*/
    background-image: linear-gradient(to top, #76d5f0 0%, rgb(82, 113, 255) 80%);
    box-shadow: 5px 5px 10px #000000;
    width: 90%;
    text-align: center;
    white-space: nowrap;
    height: 40px;
    padding: 10px;
    margin-left: 5px;
    
    border-radius: 80px;
   
}
.dropMenu{
    z-index: 1;
}

.dropMenu ul{
    /*border: solid yellow;*/
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0.5%;
    width: 50%;

    
}

.dropMenu ul li{

    display: inline;
    margin: 20px;
    font-size: 20px;
    padding: 1%;

}
.botMenu{
    display: none;
}
.dropMenu ul li:hover{
    background-color: rgba(63, 56, 56, 0.911);
    box-shadow: 2px 2px 5px #000000;
    border-radius: 80px;
}
.dropMenu ul li a{
    text-decoration: none;
    color: white;
}

#searchBar{
    width: 450px;
    display: inline-block;
    
    position: relative;
   /* border: solid pink;*/
    padding: 5px;
}

#searchBar input[type="text"]{
    width: 80%;
    padding: 5px;
    border: none;
    border-radius: 20px;
}

#searchBar input[type="submit"]{
    background-color: rgba(63, 56, 56, 0.911);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
}


#livesearch {
    position: absolute;
    top: 100%;        
    left: 10%;

    width: 350px;
    background: #222;
    border-radius: 15px;
    z-index: 1;

    display: flex;
    flex-direction: column;
}

.risultato {
    position: relative; 
}


.risultato a {
    display: block; 
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}


.risultato a:hover {
    background: #333;
    border-radius: 15px;
}


#container{
   /* border: green solid;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#presentazioneGioco{
   /* border: red solid ;*/
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#immagineGioco img{
    width: 400px;
    height: 600px;
    /*border: blue solid ;*/
    border-radius: 20px;
    
}

#statGioco{
    
    /*border: yellow solid;*/
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 4%;
    table{
  border-radius:15px;
         padding: 20px;
        font-size: 18px; 
        /*border:orange solid; */
     
        background: linear-gradient(90deg,rgb(1, 9, 36) 0%, rgb(30, 47, 104) 50%, rgb(8, 83, 164) 100%);
        
        td{ 
            padding-left:10px;
            
        }
        
    }
    
    
}




#descAndBuy{
    margin-top: 1%;
    display: flex;
    flex-direction: row;

}


#specGioco{

background: linear-gradient(90deg,rgb(1, 9, 36) 0%, rgb(30, 47, 104) 50%, rgb(8, 83, 164) 100%);
border-radius: 10%;

    padding: 20px;
    /*border: olive solid;*/
    th{
        text-align: left;
        padding-right: 20px;
    }
    tr{
        padding:10px;
    }
    td{
        padding:5px;
    }
}


#descGioco{
    /*border: teal solid;*/
    padding:30px;
    width: 60%;
    
   
    background: linear-gradient(90deg,rgb(1, 9, 36) 0%, rgb(30, 47, 104) 50%, rgb(8, 83, 164) 100%);
    border-radius: 10px;

     
}

#Acquisto{
    border:white solid;
}
#consigliati{
    margin-top: 10px;
    padding: 20px;
    /*border: brown solid;*/
    h3{ padding:10px; }
    li a{text-decoration: none; color:white; 
    }   
   
    background: linear-gradient(90deg,rgb(1, 9, 36) 0%, rgb(30, 47, 104) 50%, rgb(8, 83, 164) 100%);
    border-radius: 10px;

}


#social{

    width: 100%;
   /* border: rgb(0, 4, 128) solid;*/
    display: flex;
    gap: 10%;
    flex-direction: row;
    justify-content: center;
    padding-top: 2%;
    margin-bottom: 20px;

}

#commenti{
     border-radius: 15px;
    background-color: rgb(53, 49, 49);  
    box-shadow: 2px 10px 10px black;
    padding-top: 2%;
    border: pink solid;
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;

    textarea{
        background-color: beige;
    border-radius: 10px;
    padding: 10px;
    
    }

    input[type="submit"]{
        background-color: rgba(88, 83, 83, 0.322);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 20px;
        width: 100%;
        margin-top: 1%;
    }
  
}
.commentoUtente{
    padding-left: 3%;
    margin-bottom: 3%;
    /*border: lime solid;*/
    width: 70%;
    height: 200px;
    border-radius: 5%;
    background-color: rgb(80, 75, 75, 0.35);
}


.likeDislike{

    
    display: flex;
    flex-direction: row;
}

.like{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
 p{
        padding-right: 10px;
    }
    padding-top: 10px;
    border: none;
}
.dislike{
    p{
        padding-right: 10px;
    }
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    
    padding-top: 10px;
    border: none;
}
[id^="likeButtonC"]{
    border: none;
padding-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 70%;
    background-color: rgba(255, 255, 255, 0.1);
 
}

[id^="dislikeButtonC"]{
    border: none;
    padding-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 70%;
    background-color: rgba(255, 255, 255, 0.1);
}

[id^="likeButtonC"]:hover{
    
    background-color: rgba(255, 255, 255, 0.25);
 
}

[id^="dislikeButtonC"]:hover{
   
    background-color: rgba(255, 255, 255, 0.25);
}

[id^="likeButtonR"]{
    border: none;

    width: 40px;
    height: 40px;
    border-radius: 70%;
    background-color: rgba(255, 255, 255, 0.1);
 
}

[id^="dislikeButtonR"]{
    border: none;

    width: 40px;
    height: 40px;
    border-radius: 70%;
    background-color: rgba(255, 255, 255, 0.1);
}

[id^="likeButtonR"]:hover{
    
    background-color: rgba(255, 255, 255, 0.25);
 
}

[id^="dislikeButtonR"]:hover{
   
    background-color: rgba(255, 255, 255, 0.25);
}





#recensioni{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    
    border-radius: 15px;
    background-color: rgb(53, 49, 49);  
    box-shadow: 2px 10px 10px black;
    width: 40%;
    border: cyan solid;
    float: right; 

    textarea{
    padding: 1%;
    background-color: beige;
    border-radius: 10px;
    
    align-items: center;
    }

    input[type="submit"]{
    background-color: rgba(88, 83, 83, 0.322);
    color: white;
    margin-top: 3%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 100%;
    
    }
}
#formRecensioni input[type="number"] {
    background-color: beige;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 6px 10px;
    width: 25%;

    
}

#votoUtente{
    background-color: bisque;
}

    

.recensioneUtente{
    margin-bottom: 3%;
    padding: 2% 4% 7%;
;   /*border: pink solid;*/
    width: 70%;
    height: 200px;
    border-radius: 5%;
    background-color: rgb(80, 75, 75, 0.35);

}


#footer{
    /*border: pink solid;*/
    width: 50%;
    float: right;
    margin-right: 1%;
    margin-bottom: 10px;


    color: white;
    }

#footer ul{
    list-style-type: none;
    float: right;

    padding: 0;
    margin: 0;
}

#footer ul li{
    display: inline;
    margin: 4px;
    font-size: 12px;
    border-right: solid rgb(46, 42, 42) 2px;
}
#footer ul li a{
    text-decoration: none;
    color: rgb(0, 208, 255);
}

@media (max-width: 1620px){

    img#logoimg{
        width: 60%;
        height: 70%;
        padding-left: 12%;
    }

    #immagineGioco img{
    width: 90%;
    height: auto;
    margin: 10%;
    
}

    #specGioco{
        display: none;
    }
    
    #descGioco{
        margin-left: 10%;
    }
    #social{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        column-gap: 5%;
    }
    #commenti{
        margin-bottom: 5%;
        width: 80%;
        
    }
    #recensioni{
        
        width: 81%;
    }

.botMenu{
    border: none;
    border-radius: 15px;
    
    display: block;
    flex-direction: row;
    background-color:  rgba(255, 255, 255, 0);
}
.botMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropMenu {
    position: relative;
    z-index: 1;
    cursor: pointer;
}


.dropMenu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #222;
    border-radius: 15px;
    width: 200px;

   
}


.dropMenu .submenu li {
    padding: 4px;
    white-space: normal;
    color: white;
    font-size: 15px;
    text-align: center;
    overflow-wrap:anywhere;
    
    
}


.dropMenu:hover .submenu {
     display: flex;
    flex-direction: column;
    justify-content: left;
}

#searchBar{

width: 60%;
}

}

