

#TablesBoard{
   /* border: rgb(255, 0, 162) solid 5px; */
    margin-top: 2%;

}

.GameSlider{
   /* border:yellow solid 5px; */
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.GameSlider input[type="button"]{
    margin-top: 180px;
    border: #005bea solid 2px;
    background-color: rgba(63, 56, 56, 0.911);
    box-shadow: 5px 5px 10px #000000;
    width: 45px;
    height: 45px;
    font-size: 22px;
    color:white;
    border-radius: 30%;
    margin-left: 20px;
    margin-right: 20px;
}

.titleTable{
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}


#GameTable0 {
    /*border: lime solid 5px;*/

    width: 20%;
    margin: auto;
    margin-bottom: 10px;
    color: white;

}

#GameTable0 th{
    /*border: red solid 2px;*/
    justify-content: right;
    text-align: left;
    
    font-size: 20px;
    white-space: nowrap;
}

#GameTable1 {
  /*  border: lime solid 5px;*/
    width: 20%;
    margin: auto;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);

}

#GameTable1 th{
    /*border: red solid 2px;*/

    justify-content: right;
    text-align: left;
    font-size: 20px;
    white-space: nowrap;

    }

#GameTable2 {
    /*border: lime solid 5px;*/
    width: 20%;
    margin: auto;
    margin-bottom: 10px;
    color: white;

}

#GameTable2 th{
    /*border: red solid 2px;*/
    justify-content: right;
    text-align: left;
    
    font-size: 20px;
    white-space: nowrap;
}

#GameTable3 {
    /*border: lime solid 5px;*/
    width: 20%;
    margin: auto;
    margin-bottom: 10px;
    color: white;

}

#GameTable3 th{
    /*border: red solid 2px;*/
    justify-content: right;
    text-align: left;
    
    font-size: 20px;
    white-space: nowrap;
}

.GameCard{   
    /*border: yellow solid 2px; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
    padding: 10px;
    
    }

.prezzo {
    background-color: rgb(63, 197, 43);

    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 15px;
    height: 40px;
    width: 72px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-radius: 10px;

}

.acquistato {
    background-color: rgb(40, 50, 85);

    text-align: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 40px;
    width: 100px;
 
    border-radius: 10px;
    font-size: 12px;
    

}
    
.GameCard img{
    /*border : blue solid 2px;*/
    width: 230px;
    height: 340px;
    background-color: rgba(63, 56, 56, 0.911);
    box-shadow: 5px 5px 10px #000000;
    border-radius: 15px;
    object-fit: cover;
    transition: width 0.5s ease, height 0.5s ease;
  
    }
    
.GameCard img:hover{
    width:  280px;
    height: 410px;
    box-shadow: 0 0 20px 5px #ffffff96;
    
}



@media (max-width: 1620px){
    
    .GameCard .productimage{
        width: 180px;
        height: 250px; 
    }

    
}
