#container{
    border: solid red;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#container h2{
    font-family: "font pixeloso", monospace;
    font-size: 22px;
}

@font-face {
    font-family: "font pixeloso";
    src: url('PixelatedElegance.ttf');
}
@media(max-height: 720px){

    img#logoimg{
        width: 60%;
        height: 60%;
        padding-left: 12%;
    }

}

body{
    border: solid green;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(111, 112, 112, 1) 87%, rgba(43, 165, 217, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}

#logo{
    width: 400px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid blue;
}

#logoimg {
    width: 80%;
    height: 80%;
    margin: 2%;
    margin-left: 7%;
}

#navigation{
    border: solid orange;
    width: 100%;
    text-align: center;
}

#navigation ul li{

    display: inline;
    margin: 20px;
    font-family: "font pixeloso", monospace;
    font-size: 18px
}
#navigation ul li a{
    text-decoration: none;
    color: white;
}

#navimg{
    
    border: solid purple;
   
}