/* File CSS della pagina del profilo diviso in 3 sezione che saranno mostrate/nascoste al premere di un pulsante. Abbiamo preferito adottare
una struttura a card per evitare di vreare altre 3, o più, pagine diverse e risparmiare spazio. Inoltre ci sembrava anche un modo per mostare
le conoscenze acquisite durante il corso in fatto di design e pagine web dinamiche*/

/* il wrapper si spostera in base a quale delle 3 sezioni saranno mostrate senza di questo le sezioni diverse non sarebbero posizionate correttamente */
.wrapper{
    position: relative;
}
/* la principale card e quella del profilo che mostra i vari campi del profilo utente */
.cardProfilo{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 1%;
    width:80%;
    height: 80%;
    margin-left: 10%;
    border: solid rgb(241, 196, 204);
    border-radius: 5%;
    background-color: rgb(53, 49, 49);  
    box-shadow: 2px 10px 10px black;
}

/* la seconda card che permette di modificare i campi. L'abbiamo creata sfruttando la table.*/
.cardSettings{
    margin-top: 2%;
    width: 100%;
    color: white;
    table{
        
        border:white solid 4px;
         background-image: linear-gradient(to right, #434343 0%, black 100%);
        background-repeat: no-repeat;
        background-size: auto;
        border-radius: 15px;
        border: white 2px solid;
        padding: 5px;
        border-spacing: 10px 30px;
    }
    table input[type='text']{
        padding: 5%;
        border-spacing: 100px;
        background-color: beige;
        border-radius: 10px;
        align-items: center;
    }
    table select{
        padding: 5%;
        width: 100%;
        margin-right: 10%;
        background-color: beige;
        border-radius: 10px;
        align-items: center;
    }
    table input[type='submit']{
        font-family: "font pixeloso",monospace;
        background-color:#414141;
        border-radius: 30px;
        color:white;
        padding-left: 10px;
        margin-left: 30px;
        width: 80%;
        height: 30px;
        white-space: nowrap;
    }
    table input[type='submit']:hover{
        background-color:#5f5f5f;
    }
}
/* terza card per l'acquisto delle immagini profilo In questo caso invece della table abbiamo voluto sfruttare la CSS Grid.
Infatti, volevamo usarle entrambe per mostare sia le conoscenze acquisite ma anche le differenze tra le due, 
con relativi punti di forza e debolezza nella praticità d'uso*/
.cardPicStore{
    padding:3%;
    margin-top: 2%;
    background-color: rgb(39, 31, 31);  
    background-repeat: no-repeat;
    background-size: auto;
    border: white 2px solid;
    border-radius: 15px;
    width: 100%;
}

.gridPicStore{
    display: flex;
    flex-direction: column;
}

.gridPicStoreForm{
    /* border: solid green; */
    display: grid;
    grid-template-columns: repeat( 4, minmax(220px, 1fr));
    grid-template-rows: auto;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;

    padding-left: 8%;
  
}

/* Classe attua a nascondere la card a cui è asseganata (la gestione avviene tramite javascript file: cardProfileChanger.js) */

.hideCard{
    display: none;
}

/* Stile della sezione principale del profilo con immagine e info utente */
.baseProfilo{
   color: white;
    border-bottom:white solid 2px;
    display: flex;
    justify-content: center;
    margin-top: 2%;

    .info{
        /*border:blue solid 2px;*/
        flex-direction: column;
        padding: 20px;
            td{ 
            padding-left:10px;
            padding-right: 10px;
            padding-top: 5px;
            background-color: #414141;
            border-radius: 15px;
            a{
                text-decoration: none;
                color: white;
            }
        }   

    }
    .propic{padding: 50px;}
        .propic img{
        border: solid rgb(172, 0, 0) 10px;
        width: 200px;
        height: 200px;

    }   
 

   
}
/* Sotto elemento della card principale che mostra gli ultimi titoli aggiunti */

#lastTitle{
    padding: 10px;
    color: rgb(255, 255, 255);
}
/* per il resize abbiamo utilizzato una griglia giustificando il row-gap messo in basso  */
.flexGridGames{
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    align-items: center;
    
}
.lastGames{
    display: flex;
    flex-direction: row;
    column-gap: 3%;
    padding: 10px;
    justify-content: center;
    

    img{
    width: 200px;
    height: 260px;
    border-radius: 15px;
    }

}
/* Stile dello shop con annesse immaggini */
.sceltaPic{
    display: flex;
    flex-direction: column;
    color:white;
    width: 100%;
    box-sizing: border-box;
    /*border: red solid;*/

    img{
        width: 250px;
        height: 250px;
    }
}



.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.settings button{
    background-color:rgba(63, 56, 56, 0);
    border: none;
}

.settings img:hover{
    animation: rotate 1s linear 1;
    transform-origin: center center;
    
}

/* questo definisce l'animazione rotate quando passiamo sopra con il cursore per simulare l'ingranaggio che gira */

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}


/* bottoni del negozio e per ritornare indietro al negozio */
.shop button{
    background-color:rgba(63, 56, 56, 0);
    border: none;
}

.backarrow button{
    background-color:rgba(63, 56, 56, 0);
    border: none;
}

#buttonAcquistoPic input[type='submit']{
        font-family: "font pixeloso",monospace;
        background-color:#414141;
        border-radius: 30px;
        color:white;
        padding-left: 10px;
        margin-left: 30%;
        width: 50%;
        height: 60px;
        white-space: nowrap;
        
    }

/*Senzione delle media query, per resize dinamico. Abbiamo messo più mediaQ. per una gestione più ottimizzata*/
@media (max-width: 1620px){
    .cardProfilo{
        width: 85%;
        height: 85%;
    }
    .GameCard .productimage{
        width: 180px;
        height: 250px; 
    }
    .gridPicStoreForm{
        grid-template-columns: repeat( 3, minmax(220px, 1fr));
    }
}

@media (max-width: 1450px){

    .buttons{
    flex-direction: column;
    height: 10%;
    width: 10%;
    }
    

    .lastGames{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .gridPicStoreForm{
        grid-template-columns: repeat( 2, minmax(220px, 1fr));
    }
}
@media (max-width: 1350px){

    .baseProfilo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10%;   
    }

    .buttons{
        flex-direction: row;
    }

    .sceltaPic{

    img{
        width: 140px;
        height: 140px;
    }
}

    .cardSettings{
        margin-top: 2%;
        color: white;
        table, tr, td {
            display: block;
            width: 100%;
        }

        tr {
            margin-bottom: 15px;
        }

        td {
            text-align: left;
            margin-bottom: 6px;
        }
        input[type="text"],select {
            width: 100%;
            box-sizing: border-box;
        }
        input[type="submit"] {
            width: 100%;
            font-size: 90%;
            margin-top: 8px;
        }
    }

}

